[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pyqt5 = "*"
matplotlib = "*"
scipy = "*"
numpy = "*"
pillow = "*"

[requires]
python_version = "3.7"
